html {
  scroll-behavior: smooth;
}
body {
  background: #f4f5f8;
  font-family: "Nunito", sans-serif;
}

header {
  padding-top: calc(1rem + 35px);
  color: #393a3d;
}

h2,
h3 {
  font-weight: 800;
}

.textLogo {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 5rem;
  line-height: 1;
}

@media (max-width: 576px) {
  .textLogo {
    font-size: 4rem;
  }
}

.gradientText {
  background: linear-gradient(180deg, #eb7290 0%, #f7c7a5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* NAVBAR */

.nav-link {
  color: #393a3d;
  font-weight: 700;
}

.nav-link:hover {
  color: #eb7290;
}

@media (min-width: 992px) {
  .nav-link:hover {
    color: #393a3d;
    border-bottom: 2px solid currentColor;
    padding-bottom: 0;
  }
}

.navbar-toggler {
  /* background-color: #393a3d; */
}

.navbar {
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.scrolled {
  background-color: white;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.expanded {
  background-color: white;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

/* COUNTDOWN BLOB */

.countdown-blob {
  z-index: 1;
  position: absolute;
  bottom: 40%;
}
#countdown-blob-1 {
  left: 10%;
}
#countdown-blob-2 {
  left: 40%;
}
#countdown-blob-3 {
  left: 70%;
}

.blob-container {
  width: 9vw;
  position: relative;
  text-align: center;
}
.countdown-blob-img {
  width: 100%;
  filter: drop-shadow(0 0.2rem 0.1rem grey);
  /* drop-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.countdown-text {
  position: absolute;
  top: 70%;
  margin-bottom: 0;
  left: 50%;
  font-size: 1vw;
  transform: translate(-50%, -30%);
  padding-top: 0.3rem;
}

.countdown-timer {
  position: absolute;
  top: 45%;
  margin-bottom: 0;
  left: 50%;
  text-align: center;
  font-size: 4vw;
  font-weight: 700;
  transform: translate(-50%, -45%);
}

@media (max-width: 767px) {
  .blob-container {
    width: 18vw;
    padding: 0;
  }
  .countdown-text {
    font-size: 2.2vw;
    padding-top: 0.1rem;
  }
  .countdown-timer {
    font-size: 8vw;
  }
}

.image-container {
  position: relative;
}

.bg-blob {
  z-index: 0;
  width: 100%;
  position: relative;
}

/* Register button */

.btn-1 {
  border-radius: 32px;
  background: #eb7290;
  border: none;
  color: white;
  width: 10rem;
  height: 2rem;
}

button:focus {
  outline: 0;
}

a:focus {
  outline: 0;
}

.icon {
  width: 2rem;
  /* height: 2rem; */
}

/* FAQ SECTION */

.faq-dot {
  width: 1.5rem;
  height: 1.5rem;
}

.red-dot {
  background-color: #ec4870;
}

.purple-dot {
  background-color: #bd60f6;
}
.orange-dot {
  background-color: #fc9f5c;
}

.faq-question {
  font-weight: 700;
}

/* TEAM SECTION */

#team {
  /* padding-bottom: 10rem; */
}

.team-card {
  border-radius: 32px;
  width: 100%;
  height: 40rem;
  padding-bottom: 12rem;
  max-width: 30rem;
}

.team-img {
  z-index: 0;
  position: relative;
  object-fit: cover;
  object-position: center;
  border-radius: 32px;
  width: 100%;
  height: 100%;
}

.team-img-shape {
  z-index: 1;
  position: absolute;
  /* bottom: 50%; */
  width: 100%;
  height: 90%;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  bottom: 20%;
}

.short-shape {
  height: 80%;
}

.shape-container {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 70%;
  bottom: 30%;
}

.team-text {
  z-index: 2;
  position: absolute;
  top: 20%;
  margin-bottom: 0;
  left: 10%;
  font-size: 0.8rem;
  /* transform: translate(-50%, -45%); */
  padding-top: 0.3rem;
  color: white;
  font-weight: 700;
  padding-right: 10%;
}

@media (max-width: 991.98px) {
  /* .team-text {
    font-size: 1rem;
  } */
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .team-img {
    left: 20%;
  }
  .shape-container {
    left: 20%;
  }
}

.bio {
  top: 30%;
}

/* SPONSORS */

.sponsor-card {
  border: 30px solid transparent;
  padding: 15px;
  border-image: url("../img/sponsor_border.png") 60 stretch;
}

.text-link {
  color: #393a3d;
  font-weight: 700;
}

.text-link:hover {
  color: #393a3d;
  font-weight: 700;
}

/* CONTACT SECTION */
.custom-card {
  background: white;
  border-radius: 32px;
  height: 100%;
  width: 100%;
}

.contact-text {
  font-size: 0.9rem;
}

@media (max-width: 767px) {
  .social-icon {
    height: 6vw;
  }
}
